// fonts
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// font variables
$anton: "Anton", sans-serif;
$patrick-hand: "Patrick Hand", cursive;
$roboto: "Roboto", sans-serif;

// colors
$dark: #281d2b;
$white: #fff;
$brown: #ba9d7b;

$green: #609966;
$dark-green: #40513b;
$light-green: #9dc08b;
$yellow-gree: #edf1d6;

/* import bootstrap to set changes */
@import "../../node_modules/bootstrap/scss/bootstrap";
